
@import "../../Scss/variables";

.foto-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    width: 40%;
    margin-top: 2rem;
    padding: 0.4rem;
    position: relative;

    .name {
        color: black;
    }

    &:hover .image {
        width: 6rem;
        height: 5.5rem;
        cursor: pointer;
        transition: all 300ms;
    }

}

.foto-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin-bottom: 0.5rem;
    position: relative;
    background-color: aqua;

    img {
        width: 5rem;
        height: 5rem;
        transition: all 300ms;
    }
}